body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1338px;
  height:840px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u683 {
  position:absolute;
  left:28px;
  top:-15px;
  width:1338px;
  height:840px;
  opacity:0.5;
}
#u684 {
  position:absolute;
  left:2px;
  top:412px;
  width:1334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u685 {
  position:absolute;
  left:47px;
  top:25px;
  width:181px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u686 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u687 {
  position:absolute;
  left:1082px;
  top:30px;
  width:97px;
  height:22px;
  font-size:16px;
}
#u688 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u689 {
  position:absolute;
  left:1242px;
  top:27px;
  width:54px;
  height:25px;
}
#u689_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u690 {
  position:absolute;
  left:1242px;
  top:27px;
  width:54px;
  height:25px;
}
#u690_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u691 {
  position:absolute;
  left:1189px;
  top:30px;
  width:20px;
  height:22px;
}
#u691_input {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u691_input:disabled {
  color:grayText;
}
#u692 {
  position:absolute;
  left:1189px;
  top:104px;
  width:100px;
  height:90px;
}
#u692_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:96px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u693 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:95px;
}
#u694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u694 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u695 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u696 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u697 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u698 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u699 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:59px;
}
#u700 {
  position:absolute;
  left:1199px;
  top:52px;
  width:1px;
  height:58px;
}
#u701 {
  position:absolute;
  left:2px;
  top:21px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u702 {
  position:absolute;
  left:259px;
  top:178px;
  width:57px;
  height:16px;
}
#u703 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u704 {
  position:absolute;
  left:351px;
  top:178px;
  width:300px;
  height:25px;
}
#u704_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u705 {
  position:absolute;
  left:259px;
  top:223px;
  width:43px;
  height:16px;
}
#u706 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u707 {
  position:absolute;
  left:259px;
  top:266px;
  width:57px;
  height:16px;
}
#u708 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u709 {
  position:absolute;
  left:351px;
  top:223px;
  width:300px;
  height:25px;
}
#u709_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u710 {
  position:absolute;
  left:351px;
  top:266px;
  width:300px;
  height:25px;
}
#u710_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u711 {
  position:absolute;
  left:332px;
  top:393px;
  width:76px;
  height:25px;
}
#u711_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u712 {
  position:absolute;
  left:491px;
  top:393px;
  width:76px;
  height:25px;
}
#u712_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
